         
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Played</th>
            <th>Result</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of games" >
              <ng-container [ngTemplateOutlet]="game.completed ? pastgame : activegame" [ngTemplateOutletContext]="{game:game}" >
              
              </ng-container >             
          </tr>
        </tbody>
      </table>
  
       <ng-template #activegame let-game="game">
          <td>{{game.gameStartDate.seconds * 1000 | date:'MM-dd-yyyy'}}</td>
          <td>
            N/A
          </td>
          <td>
              <button type="button" class="btn btn-dark" (click)="GoToGame(game.gameRef)">Join</button>&nbsp;
              <button type="button" class="btn btn-dark" (click)="Invites(game.gameRef)">Invites</button>
          </td>
        </ng-template>
      
        <ng-template #pastgame let-game="game">
          <td>{{game.gameStartDate.seconds * 1000 | date:'MM-dd-yyyy'}}</td>
          <td>
            {{game.winnerName}} - winner <br />
            {{game.secondName}} - second
          </td>
          <td>
            <button type="button" class="btn btn-dark" (click)="GoToGame(game.gameRef)">Join</button>&nbsp;
          </td>
        </ng-template>    